{% spaceless %}

	{% load staticfiles %}

	<!DOCTYPE html>
	<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
		<head>
			<title>Sitrep for {{ shard.name }} | Herpderp v0.2</title>
			<meta charset="UTF-8"/>
			<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
			<meta name="viewport" content="width=device-width,initial-scale=1"/>
			<link href="{% static 'herpderp/css/bootstrap.css' %}" rel="stylesheet"/>
			<link href="{% static 'herpderp/css/herpderp.css' %}" rel="stylesheet"/>
		</head>
		<body data-api-base-path="{% url 'herpderp:dispatch_shard' shard.slug %}" data-api-key="{{ api_key }}">
			<div id="map"></div>
			<script src="{% static 'herpderp/js/jquery.js' %}"></script>
			<script src="{% static 'herpderp/js/bootstrap.js' %}"></script>
			<script src="https://maps.googleapis.com/maps/api/js"></script>
			<script src="{% static 'herpderp/js/herpderp.js' %}"></script>
		</body>
	</html>

{% endspaceless %}