html, body, #map {
	display: block;
	width: 100%;
	height: 100%;
}

#update-bar {
	margin-bottom: 0;
}

#update-status {
	margin-right: 1ex;
}

.info-window {
	overflow: auto; /* Prevent margin collapse between $('.info-window') and its children. */
	width: 240px;
}

.info-window > .table-condensed {
	margin-bottom: 0;
}

td > .checkbox:first-child, td > .radio:first-child {
	margin-top: 0;
}

td > .checkbox:last-child, td > .radio:last-child {
	margin-bottom: 0;
}

.frost-overlay {
	background-color: rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 100%;
}
